In [ ]:
print("hey")

In [ ]:
import numpy as np
array_1=np.array([1,2,3])
print(array_1)
print(type(array_1))
print(array_1.shape)
array_1
array_2= np.array([[4,5],[7,8]])
array_2
print("new array = ", array_2[1][1])
array_2.shape
array_2[0][1] = 31
print(array_2)

In [ ]:
arrR = np.linspace(0,10,20)
arrR
# linspace generates evenly spaced out values

In [ ]:
np.arange(0,20,2)
# same as range function (start,stop,step)

In [ ]:
ran=np.random.rand(10,3)
print(ran)
np.diag(ran)

In [ ]:
print(np.ones((2,3)))

In [ ]:
print(np.twos((4,5)))

In [ ]:
s=5
s

In [ ]:
v=np.array([2,3,4,5,])
v

In [ ]:
n = np.array([[3,4,6],[7,8,9]])
print(n)
type(n)
print(n.shape)
n.reshape(3,2)

In [ ]:
r1=np.random.rand(3,3)
r1

In [ ]:

r2=np.random.rand(3,3)
r2

In [ ]:
r3=np.array([r1,r2])
r3

In [ ]:
a1=np.random.rand(3,3)
a2=np.random.rand(3,3)
print("Sum is ", a1+a2)

In [ ]:
(a1+a2).T

In [ ]:
c=np.random.rand(3,2)
c

In [ ]:
# import relevant library
import numpy as np
c=np.random.rand(3,2)
c

In [ ]:
c.T

In [ ]:
# transposing scalar
d=np.random.rand(5)
d.shape

In [ ]:
d.t

In [ ]:
d.T

In [ ]:
# transposing scalar
d=np.random.rand(5)
print(d)
print(d.T)
# in python 1-dimensional arrays dont get transposed , but can be done when reshaped though
reshaped=d.reshape(1,5)
reshaped.T

In [ ]:
# transposing vector
v=np.random.rand(2,3)
print(v)
print(v.T)
print(v.shape)

In [ ]:
# dot product
add_1=np.array([2,4,5])
add_2=np.array([7,8,9])
sum=np.dot(add_1,add_2)
sum

In [ ]:
# scalar * scalar
np.dot(19,45)

In [ ]:
# scalar*vector = vector with same length
add_1 * 5

# scalar * matrix
e=np.random.rand(3,4)
sum * e

In [ ]:
a,b,c = (2,3,4)
print(b,c)

In [ ]:
x='J'
x

In [ ]:
def fi(i):
    x=5
    return x
fi(9)
# print(fi())

In [ ]:
True and not False or True

In [ ]:
# func in a func
def wage(work_hours):
    return work_hours * 30
print("Total wages is : Rs",wage(9))
def bonus(work_hours):
    return wage(work_hours) + 100
# wage(9)
print("Bonus received is : Rs", bonus(9))

In [ ]:
max(0,5,6)

In [ ]:
min(9,0)

In [ ]:
list=[5,6,7]
list

In [ ]:
sum(list)

In [ ]:
round(0.99999,7)

In [ ]:
round(3.5678,1)

In [ ]:
round(3.1)

In [ ]:
pow(9,2)

In [ ]:
len('trinita ')

In [ ]:
# lists

part=['rhea','leah','jez','trini']
part.sort()
print(part)

print(part[-1])
del part[0]
print(part)
part[0]='rheah'
print(part)
part.append('maria')
print(part)
part.extend(["jo", "ann"])
print(part)
print('The first on list is ' +part[0]+ '.')
len(part)
# slicing

part[-1:-3:-1]
part.index('jo')
list_2=["soph","aire"]
part1=[part,list_2]
print(part1)

In [ ]:
a=['e','r','a']
n=['t','f']
b=[a,n]
print (b)
a.sort()
print(a)
a.sort(reverse=True)
a

In [ ]:
# tuples - cannot be modified
x=(5,6,7,1)
y=(0,6)
print(x[3])
x,e,r=5,8,9
e,r

In [ ]:
# placing tuples within list
x=(5,6,7,1)
y=(0,6)
list=[(x,y)]
list

In [ ]:
age,year="23,2000".split(',')
age,year

In [ ]:
# functions can return tuples as return values
def tup_val(x):
    A=x**2
    P=4*x
    print("Area and Perimeter is as follows : ")
    return (A,P)
tup_val(2)

In [ ]:
# dicionaries
dict={'name':'trini','age':23,'single':'yes'}
print(dict['name'])
dict['profession']='software Engg'
print(dict)
dict1={'countries':' Hawaii,Utah,Alaska '}
dict1['countries']

In [ ]:
deps={'dep1':['q,r'],'dep2':'o'}
# deps['dep1']
deps.get('dep2')

In [ ]:
# while loop
x=1
while x<=7:
    print(x,end=" ")
    x+=2

In [ ]:
# range(start,stop,step)
print(list(range(3,8,1)))

In [ ]:
# how to count the number of items in a list with values less than 20
list_1=[23,5,7,8,9,12,15,67,78,90,18,2,11]
print("Here is our list : ",list_1)
len_list_1=len(list_1)
print("Length of our list is : ",len_list_1)
def count(numbers):
    c=0
    for i in numbers:
        if i<20:
            c=c+1
    return c
number_l=[2,3,32,12,13,14,15,65,76,0,69]
count(number_l)

In [ ]:
nums = [1,35,12,24,31,51,70,100]
i=0
nums[i]
i=i+1
print(nums[i])


# for item in nums:
#     while nums[0]<20:
#         c=0 
#         c=c+1
#         print (c)
#         nums[0]++

In [ ]:
nums = [10, 35, 12, 24, 31, 51, 70, 100]
def c_l(nums):
    count = 0
    i = 0

    while i < len(nums):
        if nums[i]<20:
            count += 1
        i += 1
    return count

In [ ]:
nums = [1,35,12,24,31,51,70,100]
 
def count(nums):
    count = 0
    b = 0
 
    while b < len(nums):
        if nums[b] < 20:
            count += 1
        b += 1  # Don't forget to increment b to avoid an infinite loop
    return count

In [ ]:
# iteration through dict
prices={"lasagna":4,"burgers":5}
quantity={"lasagna_q":1,"burgers_q":2}
# prices,quantity
for key in prices.keys() & quantity.keys():
    amt=0
    amt=amt+(prices[key]*quantity[key])
    print(amt)

In [ ]:
# pandas is a python library and it is built on numpy -- panel (multiple observations over diff periods of time) + data
'''
pandas focus more on analytic tasks while numpy , computational tasks
2 important data structures of pandas : series(single column data 
), dataframe objects(multi column data)'''
import numpy as np
import pandas as pd
# to check version
np.__version__
pd.__version__

In [ ]:
list_1=[3,4,5]
list_2=[3,1,1]
print(list_1.extend(list_2))
# l_3=(list_1,list_2)
l_3=list_1.extend(list_2)
print(l_3)

In [ ]:
        import numpy as np
        time_0 = np.arange(0, 10000, 0.1)
        time_1 = np.arange(0, 11000, 0.1)
        time_0 = np.delete(time_0, np.argwhere((time_0 > 100) & (time_0 < 120)), axis=0)
        time_1 = np.delete(time_1, np.argwhere((time_1 > 80) & (time_1 < 120)), axis=0)
        ti_dict = {"_time_0": time_0, "_time_1": time_1}
        ti_dict

In [ ]:
# why numpy and pandas?
"""ND class of numpy array works well on computing values because operations work element wise
pandas works with array structure. pandas has series(vector - single column data, corrsponds to 1d array in numpy) and df(matrix, corresponds to 2d array structure in numpy) objects.
NUMPY for numerical operations and PANDAS for dataset analysis;store data in series/df"""

In [ ]:
import pandas as pd

In [ ]:
pip install pandas

In [ ]:
pip install pandas --upgrade

In [ ]:
pip list

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

In [ ]:
# a series is a single column data and hence series object can be created from a list.
products = ['A','B','C','D']
print(products)
print(type(products))
products_series = pd.Series(products)
products_series

In [ ]:
# creating series datastructure by placing the list inside.
dollar_rates = pd.Series([23,67,89])
dollar_rates

In [ ]:
array_a = np.array([1,4,9,0])
print(array_a)
type(array_a)

In [ ]:
array_to_pandas = pd.Series(array_a)
array_to_pandas

In [ ]:
array_to_pandas = pd.Series(array_a)
print(array_to_pandas)
pandas_to_array1 = pd.Series(array_a)
pandas_to_array = np.array(pandas_to_array1)
pandas_to_array

In [ ]:
#attribute - variable providing metadata about an object, attributes extract info about certain python related objects.
#method - function assosciated with object. python objects is collection of methods and attributes.
# len and size gives the number of elements in the underlying data

In [ ]:
import pandas as pd
ser_a=pd.Series([1,2,3])
print(ser_a,type(ser_a),ser_a.size,len(ser_a))
pan_a=pd.DataFrame([1,2,3])
print(pan_a)

In [ ]:
print(ser_a.name)

In [ ]:
# to assign a name to a pandas series object
ser_a.name = 'SeriesA'
ser_a.name

In [ ]:
import pandas as pd
import numpy as np
work_experience_years = pd.Series([5,8,3,10])
print(work_experience_years)
work_experience_years = np.array(work_experience_years)
print(work_experience_years)

In [ ]:
import pandas as pd
import numpy as np
work_experience_years = pd.Series([5,8,3,10])
# print(type(work_experience_years.to_numpy()))
print(work_experience_years.to_numpy())
print(type(work_experience_years.to_numpy()))
work_experience_years.to_numpy()

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name='AD'
print(work_experience_years)

In [ ]:
# create a dict - dict to series is done to preserve the data values. can access the labels through keys. dict is a way to access indexing. index values give access to data points.
import pandas as pd
import numpy as np
dict_a = {'Trini':23,'Hari':25,'Pauline':24}
print(type(dict_a))
dict_aS=pd.Series(dict_a)
print(type(dict_ab))
# dict_aN=np.array(dict_a)
# print(dict_aN)
dict_aS.index

In [ ]:
# index data structures in pandas - refer to a position, index DS speeds up computation process.in pandas we have implicit indices -> label based and position based.
# dictionary level of indexing is explicit indexing.. 
# label and position based indexing :
import pandas as pd
import numpy as np
to_series = pd.Series([3,5,7,8])
print(to_series)
print(to_series.index)
print(type(to_series.index))

dict_a = {'Trini':23,'Hari':25,'Pauline':24}
dict_series = pd.Series(dict_a)
print(dict_series)
print(type(dict_series.index))

In [ ]:
# creating 2 objects
import pandas as pd
import numpy as np

ser_array = pd.Series([2,8,9,0]) #implicit zero based indexing
dictionary = {'Trini':23,'Hari':25,'Pauline':24}
dict_array = pd.Series(dictionary)
print(ser_array)
print(dict_array)
# create explicit indexing
imp_series = pd.Series([5,7,9,0],index = (2,22,3,4))
print(imp_series)
# integer 1 to 5 written as strings will be the index labels
imp_series2 = pd.Series([5,7,9,0],index = [2,22,3,4])
print("index referred as string : ", imp_series2[2])
print("label : ", imp_series2[2])

# if we refer to index value as 1 as string, it prints the value associated with the key 1 in the index provided

In [ ]:
print(dictionary['Trini'])
print(dictionary.items())
print(dictionary.items)
print(dictionary.keys)
print(dictionary.keys())
np_w = pd.Series(np.array([2,3,5,6]))
print( np_w)
np_wo= pd.Series([2,3,5,6])
print("np_wo ", np_wo)

In [ ]:
# exercise on indexing:
import pandas as pd

employees_work_exp = pd.Series({'Martin':8, 'George':5})
a=employees_work_exp.index[0]
b = employees_work_exp['Martin']
print((a,b))

In [ ]:
import pandas as pd 
import numpy as np
arr_1 = np.array([44,54,65,35])
ser_age = pd.Series(arr_1)
print(ser_age)

series_age = pd.Series(np.array([44, 54, 65, 35]))
print(series_age.index)

In [ ]:
%whos

In [ ]:
# Attributes -> refer to metadata ; methods -> functionality of object. 
# function is an independent entity, method is applied to an object with certain class when called.

In [ ]:
# methods in pandas series  - max, min, sum, idmax, idmin(). Pandas is built on numpy.

import numpy as np 
import pandas as pd
start_deposits = pd.Series( {
    '1/23' : 45,
    '34/5' : 67,
    '89/6' : 52,
    '09/3' : 87,
    '87' : 12,
    '49' : 32,
    '89' : 40
    })
print(start_deposits.min())

# index label corresponding to highest value in a series - idmax() method.

# head is used to obtain the first five rows and tail method last 5 rows, this way we can get a glipse of our datastructure.
print("tail")
start_deposits.tail()

# always required to add paranthesis after function in order for it provide a value.

# why 2 different libraries numpy and pandas if they have identical numerical methods : 
# if we are sure our dataset contains only numerical data present, then numpy and its methods can be chosen. When working with numeric and non-numeric dataset, 
# pandas will set the ground.

In [ ]:
import pandas as pd

employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})
print(" employees_work_exp :\n", employees_work_exp)

# following prints an empty line
print()

#  best feature of methods is that we can modify their performance. This can be acheived by knowing the parameters for method given and providing arguments. 
# we can supply parameters with arguments to modify the performance of method. Use a pandas method to retrieve the first 8 records of the object.
print("extract first 8 rows :\n ", employees_work_exp.head(n=8))
print()
# fetching total number of rows in a dataset
print("rows :",employees_work_exp.shape[0])
# print("cols :",employees_work_exp.shape[1])

# -----DataFramea have to be created like this----------

employees_work_exp_df = pd.DataFrame({
    'Employee': ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson', 'Patrick Adams', 
                 'Jessica Baker', 'Peter Hunt', 'Daniel Lloyd', 'John Owen', 'Jennifer Phillips', 
                 'Courtney Rogers', 'Anne Robinson'],
    'Work_Experience': [3, 5, 4.5, 22, 28, 14, 4, 6, 1.5, 10, 4.5, 2],
})

# this method will display the rows
r= employees_work_exp_df.index
print("r ", r)

# this method will display the cols
print("cols ",employees_work_exp_df.columns)

# SHIFT + TAB TAB TAB -> for further info on method from the documentation.
# Series is a single column data or set if values that correspond to single variable. info containing single data type.
# DataFrame is a multi column data : every column represents diff variable, heterogenous - meaning containing not same data type. -> actually is a set of multiple series.
# must aim to keep data of single type for data consistency within a certain column.
# Series - 1D(single axis), DataFrame - 2D(x and y axis).
# all methods that are applied to series can also be implemented for each column in dataframe.

In [ ]:
# Series is a powerful version of python list, and also contains some dictionary features.DataFrame is an enhanced python dictionary. creating series and dataframe
import numpy as np
import pandas as pd
series_a = [2,4,56,78,0,6,4,6,8,9] #creating list
print("before series list : ", series_a)
py_ser_a = pd.Series(series_a) #creating series object
print("after converting to series object : \n",py_ser_a)
py_df_a = pd.DataFrame(series_a) 
print("after converting to df object : \n",py_df_a)

In [ ]:
# DF EXAMPLE 2 - construct a dataframe with dictionary with lists
import numpy as np
import pandas as pd
data = {"Names" : ["T,P,H"] , "P" : ["S,H,T"] }
# print("before conv : \n", data)
# ser_data = pd.Series(data)
# print("series data : \n", ser_data)
df_data = pd.DataFrame(data)
print("df data : \n", df_data)

In [ ]:
# DF EXAMPLE 3 - construct a dataframe with dictionary of lists
import numpy as np 
import pandas as pd 
data = {
    'Name':['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    'Age':[50,53,35,43],
    'Working Experience (Yrs.)':[5,8,3,10]
}
df = pd.DataFrame (
    data
    )
print("df : \n",df)

In [ ]:
# DF EXAMPLE 4 - construct a dataframe that contains dictionaries as elements
import numpy as np 
import pandas as pd 
data = [
    {'Name':['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']},
    {'Age':[50,53,35,43]},
    {'Working Experience (Yrs.)':[5,8,3,10]}
]
df = pd.DataFrame (
    data
    )
print(df)

In [ ]:
# DF EXAMPLE 5 - construct a dataframe from pandas series
import numpy as np
import pandas as pd
ser_name =pd.Series(['Trini','Pauline','Hari'],index =['A','b','c'])
ser_age=pd.Series([23,24,25], index =['b','c','A'])
df_from_series = {'Names': ser_name, 'Ages':ser_age}
result=pd.DataFrame(df_from_series)
result

In [ ]:
#  DF EXAMPLE 6 - construct a dataframe from lists of lists
import numpy as np
import pandas as pd
ser_name =['Name','Trini'],['Age',23,24],['R','C']
result=pd.DataFrame(ser_name)
result

In [ ]:
#  DF EXAMPLE 6 - construct a dataframe in a professional way
import numpy as np
import pandas as pd
prof_df = pd.DataFrame(
    data =[['Trini',23],['Judes',23]],
    columns =["names","ages"],
    index = [4,5]  
)
print(prof_df)
prof_df.shape

In [ ]:
import numpy as np 
import pandas as pd 
names = pd.Series(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'])
age=pd.Series([50,53,35,43])
working_experience_yrs=pd.Series([5,8,3,10])
data = {
    'Name':names,'Age':age,'Working Experience (Yrs.)': working_experience_yrs
}
df = pd.DataFrame(data)
print(df)

In [ ]:
import numpy as np 
import pandas as pd 

data1 = [['Name'],['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],['Age'],[50,53,35,43],['Working'],[5,8,3,10]]
df=pd.DataFrame(data1,index=['q','w','e','r','p','p'])
print(df)
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data,index = [1,2,3,4])
df

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data,index = [1,2,3,4])
df

Python maintains/can handle 2 types of files : text file and binary files.

Text files - each line contains characters, symbols - electronic texts
Text files are indispensable today due to ease and fast transfer of data to and from the server.
Text files dont contain metadata, meaning they dont have any information stored in them regarding the data.
ASCII - American Standard Code for Information Interchange.

Binary file - written in binary language/machine language containing 1s and 0s.
Due to its file type, its content can only be processed and accessed by an application that knows and understands its structure.
Contrary to text files, binary files do not contain line terminators.

Text file and text data are 2 different terms.
Text file - certain type of file.
Text data - contains texts.
numeric data - contains numbers
bool data - true/false.

----------
File VS File object : 

File - item that can be created, modified and stored by the user or operating system. Is of the form text file or binary file.
File Object - refers to the data imported from the file. To work with files that are stored in the computer we have to import them and convert them into file object. => Hence we will import text files into python as file object and manipulate these objects by cleaning,preprocessing and analysing data

-----------
Reading VS parsing a text file :
Reading - goal of reading a file is to simply transfer its text into computer's memory. when working in python this will be the working memory/RAM.
Once the process of reading a file is complete, it will be stored as object.
Parsing or syntactic analysis is trying to understand the purpose of this python object.

Classic analogy(example) of these 2 terms in real life would be the following. 
- copying an image in a machine is reading and a user trying to read and understand and name its segment would be parsing.
- importing or loading a text file into python datastructure like series or dataframe is reading.
- then specifying how this transfer is done for eg, by giving the index of the structure is parsing.

----------
Types of data according to organisation :
1. Structured data - traditoinal data (stored in the form of databases, tabular form). Egs - excel spreadsheet, SQL database, pandas dataframe.
2. Semi-structured data - uses different pattern for storing and organising data in a way that makes it easier to access
3. Unstructured data - contains formats like video, audio, images,

better structure -> easier navigation

BIG DATA - refers to extremely large dataset that is allocated on multiple computers. 
Encoding - process of converting or translating text information into bytes.
UTF-8 : 8 bit Unicode transformation format - encoding that turns the text to machine language (1s and 0s)

--------
upper camel case - UpperCamelCase (best practice for class names)
lower camel case - lowerCamelCase

In [ ]:
filename = "source.txt"
file = open(filename,mode="r")
text=file.read() #displays content of file object
print(text)
# closing a file 
file.close()
file.closed # to check status of file

In [ ]:
# combining the file with the with statement, we can also work with the data and the file closes automatically
with open("source.txt", "r") as output_file:
    output_file.read()
print(output_file)
print(text)

In [ ]:
with open("source.txt",mode="w") as write_file:
    new_file=write_file.write("she's great")
new_file

In [ ]:
# lending excel
file2loc = "C:/Users/TJO1COB/Downloads/Lending-company.csv"
file=open(file2loc,mode="r")
file_r=file.read()
print(file_r)

In [ ]:
type(file_r)

In [ ]:
# organising the above dataset as a table using the pandas read_csv() method. read_csv() can read the txt files as well
import pandas as pd
pd.read_csv("C:/Users/TJO1COB/Downloads/Lending-company.csv") #creates a df same as creating a dataframe
# header refers to the first column name
# .read_csv method is same as creating a dataframe constructor to convert into dataframe

In [ ]:
import pandas as pd
type(pd.read_csv(file2loc))
# setting index columns
# lend1_csv = pd.read_csv(file2loc,index_col=2,skipfooter=2)
# print(lend1_csv)
lend_csv = pd.read_csv(file2loc, header= 4)
lend_csv

# lend_csv1 = pd.read_csv(file2loc,index_col= "Product",usecols=[1])
# lend_csv1
# usecols - displays columns of interest
# index -> columns ; index_col -> taking a col name from CSV and assigning to the first col.

In [ ]:
# setting index
import numpy as np
import pandas as pd
friend_list = { "Names" : ['Paul', 'Hari', 'Trini'], "Ages" : [24,23,25]    
}
ind = ['C','H','C']
final = pd.DataFrame(friend_list,ind)
final

In [ ]:
"""importing text files into python can be done in many ways :
    particularly loadtxt & genfromtxt are common when dealing with csv files
    loadtxt - loading the values. by default np.loadtxt() assumes all values will be numeric hence it crashes when it encounters textual data,
    this can be bypassed by specifying the dtype to strings when importing
    genfromtxt - generate from text and handles missing data well"""
import numpy as np
import pandas as pd

lending_file_loc = "C:/Users/TJO1COB/Downloads/Lending-company.csv"
file_load = pd.read_csv(lending_file_loc)
file_load

# define delimeters - predefined symbols like , ; - take up way less space
file_deli = np.genfromtxt(lending_file_loc, delimiter=',')
file_deli

In [ ]:
import os
print(os.getcwd())

In [ ]:
lend_nan = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-Company-Numeric-Data-NAN.csv",
                      delimiter=';',
                     dtype = str)
lend_nan

In [ ]:
# partial cleaning while importing.many parameters of genfromtxt method are used below :
# skip_header can omit as many lines from the top of dataset and skip_footer , the last lines of dataset.

import numpy as np
import pandas as pd
lend_csv = "C:/Users/TJO1COB/Downloads/Lending-Company-Numeric-Data-NAN.csv"
file_load = np.genfromtxt(lend_csv,delimiter=';',skip_footer=1)
file_load = np.genfromtxt(lend_csv,delimiter=';',skip_header=1)
# usecols tells python that we're interested only in the first column. its good technique to sort the data to a given metric
file_load,u = np.genfromtxt(lend_csv,delimiter=';',skip_header=1,usecols=[3,2],unpack=True)
print("file_load , u :\n ",file_load,u)

# python uses 0 indexing for usecols parameters. not for header or footer.

In [ ]:
import numpy as np
lending_file = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company.csv", dtype=str,delimiter=',')
lending_file

In [ ]:
file_loc = "C:\\Users\\TJO1COB\\Downloads\\Lending-Company-Total-Price.csv"
load_file = np.loadtxt(file_loc,dtype=str,delimiter=',')
print(load_file)
"""the number of columns changed from 1 to 4 at row 2; use `usecols` to select a subset and avoid this error -
to solve this error add a delimiter. use delimiter regardless of both the import ways."""

JSON format relies on 3 different concept :
1. human-readable
2. suitable to work with non-relational db
3. organised as plain text which enhances speed and transfer of data. 
this file format is great to store data in a structure which corresponds to python dictionary.

In [ ]:
# import JSON module and use the loads() method to parse the string as dictionary

import numpy as np
import pandas as pd
import json
# my_bff_list = { "Names" : ['Paul', 'Hari', 'Trini'], "Ages" : [24,23,25], "Profession" : ['Teacher' , 'Software Engg' , 'HR'] }
# type(my_bff_list)

my_bffs = '{"name": "ph", "profession": "thr"}'
type(my_bffs)
print("string : \n",my_bffs)
str_to_dict = json.loads(my_bffs)
print("to_dict_using_loads() : \n",str_to_dict)

In [ ]:
# to load data in tabular form, import pandas library and use read_json method
lend_comp_loc = "C:/Users/TJO1COB/Downloads/Lending-company.json"
pandas_method = pd.read_json(lend_comp_loc)
pandas_method

In [ ]:
# import data from excel spreadsheet into python
import pandas as pd
xls_loc = "C:\\Users\\TJO1COB\\Downloads\\Lending-company.xlsx"
read_xl = pd.read_excel(xls_loc)
read_xl

In [ ]:
import openpyxl
print(openpyxl.__version__)

In [ ]:
pip show openpyxl

In [ ]:
# head() method gives a glimpse of first few data
import pandas as pd
file_loc_3 = "C:\\Users\\TJO1COB\\Downloads\\Lending-company.csv"
display_only_header = pd.read_csv(file_loc_3,usecols=['Region','StringID','LoanID','Product'],skipfooter=4,index_col='Region',engine='python',delimiter=',')
display_only_header.head()

In [ ]:
# importing data with pandas squeeze method - to obtain a series object; this can be obtained to dataframes containing a single row or column squeezed to a series. otherwise the object is unchanged.
# we can pass 1s as arguments of sqeeze method - to sqeeze for horizontal axis. we can pass 1s(for columns) and 0s(for rows) as argument to the sqeeze method to indicate that we would like to sqeeze our data along.
file_loc_3 = "C:\\Users\\TJO1COB\\Downloads\\Lending-company.csv"
data_from_csv = pd.read_csv(file_loc_3,usecols=['Product'])
print("data from csv : \n", data_from_csv.head())
sqz = data_from_csv.squeeze("columns")
sqz

# file_loc_4 = "C:\\Users\\TJO1COB\\Downloads\\Customer-Gender.csv"
# data_from_csv = pd.read_csv(file_loc_3,usecols=1)
# data_from_csv

In [ ]:
type(sqz)

In [ ]:
# sqeeze method in pandas.
import pandas as pd
customer_gender = "C:\\Users\\TJO1COB\\Downloads\\Customer-Gender.csv"
read_csv = pd.read_csv(customer_gender)

sqz_cols = read_csv.squeeze()
print(read_csv.head())
sqz_cols.head()
print(type(sqz_cols))

In [ ]:
# saving data with pandas : exporting data from python object into text file

In [ ]:
import pandas as pd
file_loc_4 = "C:\\Users\\TJO1COB\\Downloads\\Lending-company.csv"
read_4 = pd.read_csv(file_loc_4)
read_4.head()

#  to export the data into csv file, add the to_csv method and provide the file name with extension as string argument
read_4.to_csv('export_into_csv.csv',index=False)
# exporting to JSON
read_4.to_json('export_into_JSON.json')
# exporting into xls without index
read_4.to_excel('export_into_xls.xlsx',index=False)

In [ ]:
# saving data with numpy - using function np.save(); file is stored in a file type '.npy'. 2 arguments this function requires are file-name and dataset variable_name specified in the same order
# an .npy file is 20x faster than regular CSV file loading in the sense that it is much faster in loading millions of data compared to the latter, takes up way less speed than CSV
import numpy as np
# importing data
lend_co = "C:\\Users\\TJO1COB\\Downloads\\Lending-company.csv"
load_file = np.genfromtxt(lend_co,delimiter=',',dtype = str)
# print(load_file)
# saving data to the PC
np.save('lending-saving-by-numpy',load_file)
# loading the data
saved_file=np.load('lending-saving-by-numpy.npy')
print(saved_file)
# to ensure both files are identical, we can use the array_equal function and plug in both datasets as inputs.
np.array_equal(load_file,saved_file)

In [ ]:
# different ways to externally store data - numpy functions to save python data into files : np.savez()
# new function file type works best with multiple arrays - .npz. its like an archive of NPYs that can store multiple arrays.
# hence instead of storing different datasets in separate NPY files, we can store all of them in a single NPZ
# NPZ files store each dataset as a separate array. - to set custom name, by keyword args for each array
import numpy as np
lend_co = "C:\\Users\\TJO1COB\\Downloads\\Lending-Company-Saving.csv"
load_company = np.genfromtxt(lend_co,delimiter=',', dtype=str)
print(load_company)

saved_file=np.load('lending-saving-by-numpy.npy')
np.savez('Lending-Company-Saving',saved_file,lend_co)
# load npz just created, syntax quite similar
lending_savez_load = np.load('Lending-Company-Saving.npz')
print("savez : \n ",lending_savez_load["arr_0"]) #to want the first one, we must specify arr_0 - this tells python to pull the array with index 0 from the lending_savez_load variable.

In [ ]:
# creating a new NPZ with custom file names:
np.savez('Lending-Company-Saving',file_1_npz = saved_file,file_2_npz=lend_co)
# reload after creating a new npz
npz_loads=np.load('Lending-Company-Saving.npz')
# after saving and reloading, we can check the files attribute to see the file names inside the NPZ
npz_loads.files
print(npz_loads["file_1_npz"])
print("\n")
print(npz_loads["file_2_npz"])
np.array_equal(npz_loads['file_1_npz'],npz_loads['file_2_npz'])

In [ ]:
# saving data into text files with np.txt() function - np.savetxt() helps store datasets in text files as .txt or .csv 
import numpy as np
lend_co = "C:\\Users\\TJO1COB\\Downloads\\Lending-Company-Saving.csv"
load_company = np.genfromtxt(lend_co,delimiter=',', dtype=str)
save_txt = np.savetxt("Lending-Company-Saving.txt", load_company,fmt='%s',delimiter=',')
load_txt = np.genfromtxt("Lending-Company-Saving.txt",delimiter=',', dtype=str)
load_txt

Working with text data - need to convert text data into appropriate format.

In [ ]:
# argument specifier %s is for inserting strings, %d is for inserting integers
Product_Category = ["A","T"]
print('Name of the Category is "%s" ' % Product_Category[1])
quantities = [23,45,67]
print("Quantity is '%d' of Trinita" % quantities[2])
quantities_f = [23.34,45.76,67]
print("Float Quantity is '%.30f' of Trinita" % quantities_f[0])
print ("\n")
i=1
print("Product Category %s is of quantity '%d' with float value of '%.4f' " %(Product_Category[i] ,quantities[i], quantities_f[i]))

In [ ]:
# manipulating python strings
print("Trini is 23")
print("Trini \nis \n23")
print('Trini:\tis 23 years old')
# carriage return \r - carry all subsequent strings to the start of the string
print("23 years old 'Trini'. \r24")

In [ ]:
car_shop = ["Fast Cars", "Elegant Cars"]
car_brand = ['Audi', 'Ford']
number_of_cars_for_sale = [1000, 1200]
price_of_model = 37500.50
print('Current list of local car shops:\n"%s"\n"%s"' %(car_shop[0],car_shop[1]))

print('Current list of local car shops: \n"%s" \n"%s"' %(car_shop[0],car_shop[1]))

In [ ]:
print("Product A1 is our best category of products. \rCategory A " )

In [ ]:
car_shop = ['Fast Cars', 'Elegant Cars']
car_brand = ['Audi', 'Ford']
number_of_cars_for_sale = [1000, 1200]
price_of_model = 37500.50
print('The "%s" shop are expecting to sell %d units of the new %s  model next year. The "%s" shop are expecting to sell %d units of the new %s model next year.'

%(car_shop[0],number_of_cars_for_sale[0],car_brand[0],car_shop[0],number_of_cars_for_sale[1],car_brand[1]))

In [ ]:
car_shop = ['Fast Cars', 'Elegant Cars']
car_brand = ['Audi', 'Ford']
number_of_cars_for_sale = [1000, 1200]
price_of_model = 37500.50

print ("The \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[0], number_of_cars_for_sale[0], car_brand[0]) + "\t" 
       " The \"%s\" shop are expecting to sell %d units of the new %s model next year." % (car_shop[1], number_of_cars_for_sale[1], car_brand[1]))

In [ ]:
car_shop = ['Fast Cars', 'Elegant Cars']
car_brand = ['Audi', 'Ford']
number_of_cars_for_sale = [1000, 1200]
price_of_model = 37500.50

i=0
print("The \"%s\" shop are expecting to sell %d units of the new %s model at %.2f per unit next year." % (car_shop[i], number_of_cars_for_sale[i], car_brand[i],price_of_model))

In [ ]:
# String methods - is a text manipulation technique that differs from working with arg specifiers
# 1. replace method
name_1 = "TRINI IS SOON 23 YEARS OLD"
replaced_name_1 = name_1.replace('YEARS',"YRS")
replaced_name_1
# 2.startswith and endswith method
name_1.startswith('T')
name_1.endswith('D')
# 3. split() - splits a string and returns a list with values separated
name_1.split(' ',1) #1 means want a single split - watch the commas for the split as it is only taken into consideration.
name_2 = 'TRINI,PAULINE,HARI'
name_2.split(',')[0]

In [ ]:
s = 'Administrative expenses'
print(s.startswith("Admin"))

In [ ]:
s2 = "personal ID, first name, last name, date of birth, place of birth, city of birth"
list_01 = s2.split()
print(list_01)

In [ ]:
# STRING METHODS - to change the case of the character(upper,lower methods); stripping of characters.
name_3 = 'TRIni, IS 23 old'
print(name_3.title()) 
# title method can be implemented on a string object directly
'trini is'.title()
'trini is'.capitalize()
# name_3.capitalize()

In [ ]:
# strip method removes whitespaces at the start and end of the string by default
name_4 = " quarterly report "
name_4.strip(' quarorty ') 
# lstrip and rstrip for left and right strips
# name_4.rstrip(' L')
# spc_charac = " !@#$$abcdefgh "
# spc_charac.strip(' !@abcdefgh ')

In [ ]:
name1 = 'Martin Peterson   '
print(name1.rstrip(' '))

In [ ]:
# STRING ACCESSORS str - working with text data in pandas series
import pandas as pd
operational_kpis = pd.Series([" employee rating ", "employee performance "])
operational_kpis[1].rstrip(" ")
# pd.Series([operational_kpis[0].lstrip(" "),operational_kpis[1].rstrip(" ")])
# operational_kpis.str[1]
operational_kpis.str.lstrip(' employee')

In [ ]:
# lstrip() method is not to be applied on the numeric value, hence missing value will be obtained.
import pandas as pd
test_string = pd.Series(["Text_data",'34'])
test_string.str.lstrip("T")
# contains method
housing_prices = pd.Series(['$300,000','$600,000','$700,000'])
housing_prices.str.contains("$000")

In [ ]:
# to remove the first names in the series 
import pandas as pd; 
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_name = names[1].split()
print(last_name)
# or
import pandas as pd;
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split(' ').str[1]
print(last_names)
type(last_names)

In [ ]:
import pandas as pd
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split().str[1]
print(last_names.str.contains("s"))

In [ ]:
# .format() method is applicable to string values only. this can be used without print statements.
# {} - are placeholders where we insert the values been passed as arguments of .format() method
Names=['TRINI', 'MOM']
Ages = 23,49
'Age of {}, Marias daughter is {}'.format('TRINI',23)
# to replace entire tuple and list: positional args
i=0
'Age of {}, Marias daughter is {}'.format(Names[i],Ages[i])
# There are 2 types of parameters : positional and keyword.
# using keyword arguments :
'Age of {n[0]}, Marias daughter is {a}'.format(n=['TRINI','MOM'],a=23)
'Age of {n[0]}, Marias daughter is {a[0]} who are a family of {two}'.format(n=Names,a=Ages,two=2)

In [ ]:
print("{} expects their next year's sales of Q{} to {}.".format('Comapany A',3,'increase'))

In [ ]:
# range function - generates a sequence
for i in range(3):
 for j in range(3):
    
    print(i,end="}")
    print ("i\nok")
    print(j)

In [ ]:
ran=list(range(10))
ran
for i in range(9):
    print(i,end = "\n. ")

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]
for i in products_on_sale:
    for j in sale_prices:
        for k in quantities:
            print("Expected revenue for {0} if {1} chairs are to be sold: {sales}".format(i, k, sales = j*k))

In [ ]:
# list comprehensions
num = [2,4,5]
num2=[]
for i in num:
    a=i*i
    num2.append(a)
num2
# or --using output expression as an iterable
num2= [i*i for i in num]
num2
# example 2
for i in range(2):
    for j in range(2):
        print(i+j,end=" ")
# or :
num3 = [ i+j for i in range(2) for i in range(2)] 
type(num3)
# lists as multidimensional lists
lis_list = [[i+j] for i in range(2) for j in range(2)]
lis_list

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]
sales_revenue = [[chair_type,price*quantity] for quantity in quantities for price in sale_prices for chair_type in products_on_sale]
for i in sales_revenue:
    print(*i) 
#     When using the *i syntax, it skips printing the square brackets []

In [ ]:
# example 2 for list comprehension
l2=[]
for i in range(1,11):
    if i%2 == 0:
        a = i* 10
        l2.append(a)
print(l2,end=" ")
# or----------
print([num * 10 for num in list(range(1, 11)) if num % 2 == 0])
print([num * 10 if num % 2 == 0 else "None" for num in range(1, 11)])

In [ ]:
# LAMBDA EXPRESSIONS : python syntax for creating anonymous functions
def power_raise_to_2(x):
    return x**2
power_raise_to_2(3)
lambda x : x**2 #this shows only that there is a lamba function 
# hence assigning the expression to lambda function will do the job
power_raise_to_2_lambda = lambda x : x**2
power_raise_to_2_lambda(3)
# example 2 of lambda
(lambda w : w==9)(9)
# can pass multiple arguments to lambda functions but has to contain a single expression only:
(lambda e,r: e+r) (3,9)
# example 3:
func_xy = lambda x,y : x+y(x) # y is a function of x here, hence passing 2 args or 1 to to the func_xy will result in error. 
# therefore, value of y should be a function:
func_xy(2,lambda x : x*3)
# example 4:
multiply_by_10 = lambda x : x*10 
multiply_by_10(7)
# example 5 :Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3 : ((135-(x**3))**4) / (1+x)**5
( lambda x : ((135-(x**3))**4) / (1+x)**5 ) (3)

DATA GATHERING/DATA COLLECTION : obtaining high quality data should be a priority. 
Data can be classified into 2 types: primary(meaning creating the data eg, where respondants provide answer to your surveys. In business context, companies create data all the time) and secondary (existing data created by somebody else).
Downloading data which is online and in unpackaged file form. This can be acheived in 2 ways - web scraping and APIs.
web scraping - request the webpage from a server -> extract data from a HTML format that is sent. Example of web scraping - managing the youtube live count -> request the page and extract the value of interest from the python script. Disadvantages : 1. not reliable or scalable (will have to constantly maintain code coz any small change could result in breakage of scraper; each page has a different HTML structure hence the code written has to be changed accordingly) 2. legality (if website explicitly mentions no web scraping, doing it can end up in court). Considering all of these, web scraping is an important in Data Collection when all other options are off the table. 
API's are desgined for programmatical data exchange. They provide data of format .CSV and .json

APIs :
HTTP - hypertext transfer protocol is a way in which information is exchanged on the internet; it specifies how requests are to be formatted and transmitted; websites have a collection of file - the HTML code for this website is saved on a remote machine like server in the form of files. while surfing, we download these files and use browser to display the info. This is processed by a `Request` and responds accordingly.
2 most popular HTTP requests : GET & POST. 
GET - obtains data from server, can be bookmarked, parameters can be added to URL directly, not used for sensitive information.
POST - used to alter and send confidential info. For eg, login credentials can be transmitted through a POST request.
To indicate the successful response of a request, status code is 200 and 404 for error. When the response is successful the body data can be extracted. if its a webpage, data is HTML file, web api - common format to transmit data is json.
JSON java script object orientation is a standard format for data exchange. when gets requests are sent to APIs, the data is returned in the form of JSON. the payload data of a post request is also a JSON

In [ ]:
# EXCHANGE RATES API
import requests
base_url = "https://api.exchangeratesapi.io/latest" ## Base URL: the part of the URL common to all requests, not containing the parameters
# send get request
response = requests.get(base_url)
# investigating response
response.ok #or response.status_code
response.text #.text returns it as regular string and .content returns the data in bytes format
response.content
# handling the JSON - `requests` library provides us with .json() method to convert data to python object.
response.json
# TRANSFORMATION WITH type function
type(response.json) #should give a dict
# to enhance the readability json package can be used which provides methods for data manipulation. 2 main are : loads which converts json format string to python object, dumps which converts python object back to regular string.
import json
# set indentation
print(json.dumps(response.json(), indent=3))
print(json.dumps(response.json()))
# inspect contents of JSON
response.json().keys()

# sending parameters to filter the response example : http://....?par1=value1&par2=value2
par_url = base_url + "?symbols=CAD,USD"
print(par_url)
response_2 = requests.get(par_url)
response_2
data_2 = response.json()
print(data_2)
data_2["success"]
param_url = base_url + "?symbols=GBP" + "&" + "base=USD"
data = requests.get(param_url).json()
data
get_data = requests.get(param_url).json()
print(json.dumps(get_data,indent=4, sort_keys=True))

In [ ]:
import os
print(os.path)
json_data = {'rates' : {'GBP' : 0.77}, 'base' : 'usd', 'date': '2020/6/12'}
json_data2 = json_data["rates"]["GBP"]
json_data2

In [ ]:
# building a simple currency conversion calculator : gather parameters of interest, construct a URL and send get request to it, print out error message where applicable

data = input("enter input (format - 'yyyy-mm-dd')")
base = input("convert from (currency)")
cur = input("convert to (currency)")
quantity = float(input("enter how much {} to convert".format(base)))

get_url = base_url + "/" + date + "?base=" + base + "&symbols=" + cur
out = requests.get(get_url)

if response.ok is false:
    print("\nError{}:".format(response.status_code))
    print(response.json()['error'])
else :
    data = response.json()
    rate = data['rates'][curr]
    result = quantity*rate
    
    print("\n{0} {1} is equal to {2} {3}, based upon exchange rates on {4}".format(base,quantity,result,cur,data['date']))

In [ ]:
# ITUNES SEARCH API
import json,requests
itunes_url = "https://itunes.apple.com/search"
url = itunes_url + "?term=thebeatles&country=us"
requests.get(url)
# can aslo give paramters in the URL - this way of appending paramters is actually the preferred one
r = requests.get(itunes_url, params={"term":"the beatles","country":"us"})
r.status_code
r.url
data = r.json()
data.keys() #to get only keys from the data, instead of loading the full data and inspecting from that
# print(json.dumps(data['results'][1], indent=4))
data["resultCount"]
# we can set the result to maximum of 200 by adding the limit paramter
lmt = requests.get(itunes_url, params={"term":"the beatles","country":"us","limit":200})
lmt.ok
lmt.json()["resultCount"]
# finally check the behaviour of this API to invalid paramters
inv = requests.get(itunes_url, params={"term":"invalid","country":"none"})
print("status code is {}".format(inv.status_code))
inv.json()

# -----------------

# structuring and exporting the data obtained with the help of Dataframe class from Pandas module which is a structured data in a tabular format
import pandas as pd
df_data = pd.DataFrame(data["results"])
df_data

#exporting data into a csv file using the .to_csv() method
into_csv = df_data.to_csv("results.csv")
into_csv
    
#exporting data into an excel file using the .to_excel() method
into_xl = df_data.to_excel("results.xlsx")
into_xl

In [ ]:
import os
print(os.getcwd)

In [ ]:
# PAGINATION - content separated in portions - pages. many APIs also deliver their data in pages
# example - github jobs API
import requests,json
g_api = "https://jobs.github.com/api"
# set parameters
s=requests.get(g_api,params={"description":"data science","location":"los angeles"})
s.status_code
r.json()
len(s.json)
# search without aplying any filters - remove params in the requests object
r = requests.get(g_api, params={"page":2})
r.status_code
r.json()
len(r.json())

# extracting results from first 5 pages:
# define an empty list that will be filled with extracted result
result = []
for i in range(5):
    req=requests.get(g_api, params = {"page":i+1})
    if len(req.json() == 0:
           break
    else:
        result.extend(r.json())
len(result)

DATA CLEANING AND DATA PREPROCESSING :
Applying certain analyical and programming techniques to convert incomprehensible dataset into quality format that can be used for further processing(statistical and mathematical computations).
This process ensures dataset is "Deprived of inconsistencies".

In [4]:
%pwd

'C:\\Users\\TJO1COB'

In [30]:
# pandas series - .unique() and .nunique()
# importing a csv file using the pd.read_csv() method
import pandas as pd
data_1 = pd.read_csv('Lending-Company-Saving.csv',squeeze=True) #the sqeeze parameter in this method converts the data into pandas series instead of dataframe if data consists of only one column.
data_2=data_1.copy()
print(type(data_2))
data_2.head()
data_2.describe()
len(data_2)
# nunique method in pandas retrieves number of unique values from the dataset.
data_2.nunique() # extract the number of unique values from the Series.
# obtain an array containing all unique values from the region_data Series ->use the unique method
type(data_2.nunique())

<class 'pandas.core.frame.DataFrame'>

LoanID            1043
StringID          1043
Product              6
CustomerGender       3
Location           296
Region              18
TotalPrice           9
dtype: int64

In [47]:
# converting series into numpy arrays
import pandas as pd
sa = pd.Series({'Product A' : 30, 'Product B' : 50, 'Product C' : 70}) #creating a series object then accessing its attributes
# all the below 3 usages return same output -> using the values attribute is not fully recommended as per official documentation site.
sa.values
sa.array
sa.to_numpy()

# 
c_float = sa[['Product A', 'Product B']].to_numpy(dtype=float)
c_float

array([30., 50.])

In [65]:
# sort_values() method to obtain sorted values of a series in ascending order, there is a paramter of this value that provides a descending order sort too
# create a series object
import pandas as pd
import numpy as np
num_ser = pd.Series([2098,4576,1754])
num_ser.sort_values(ascending=False)
# application of sort value 
dataset = pd.read_csv('Lending-Company-Saving.csv', squeeze=True)
dc = dataset.copy()

dh=dc.head()
dh.sort_values

<bound method DataFrame.sort_values of    LoanID StringID    Product CustomerGender    Location    Region  TotalPrice
0       1     id_1  Product B           Male  Location 2  Region 2     16600.0
1       2     id_2  Product B           Male  Location 3       NaN     16600.0
2       3     id_3  Product C         Female  Location 5  Region 5     15600.0
3       4     id_4  Product B           Male  Location 6  Region 1     16600.0
4       5     id_5  Product D         Female  Location 7  Region 2     20250.0>

In [97]:
# Attribute and method chaining for manipulating data. Attribute chaning allows to refre the values obtained by different attributes, and so is for method chaning. It organises and applies several method calls on a certain object in the given order
# one advantange of this technique is we do not require to explicitly store the immediately obtained output - saves time of creating a variable.
import pandas as pd
iit = pd.read_csv('Lending-Company-Saving.csv', squeeze=True)
act = iit.copy()
act.head()
act.index
act.index.name = 'SAMPLE NAME'
act.index.name # is the name of the series dataset
# act.sort_values().tail() #chaining the tail method
act.index.to_numpy()
# Obtain the row labels of the index i.e. use values, stored in an array. example :
print(act.index.values)

[   0    1    2 ... 1040 1041 1042]

In [96]:
import pandas as pd

emp_birth_date = pd.Series({'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'})
print(emp_birth_date.keys)

<bound method Series.keys of No_0001    1963-08-02
No_0002    1964-06-13
No_0003    1989-12-04
No_0004    1996-04-08
dtype: object>

In [ ]:
# sort_index
# just use this method with same ascending parameter like sort_values() method

In [17]:
# DATAFRAME - IT CORRESPONDS TO 2-D NUMY ARRAY; ALSO IS A TABULAR STRUCTURE CONATINING MULTIPLE OBSERVATIONS FOR A GIVEN SET OF VARIABLES. IT'S 2-DIMENSIONAL ( 2 points with row and columns). Every column from the dataframe is a series object itself.
# DATAFRAME RETROSPECTION
# CREATE AN ARRAY THEN CHANGE IT INTO A DATAFRAME - to create with different lenghts and shapes, use the dtype parameter of array datastructure.
import pandas as pd
import numpy as np
df=np.array([[3,6,5],[4,2,7]],dtype=object) 
# df_1 = pd.DataFrame(df)
type(df)
print("array is")
print(f"{df}")
#type func confirms that the object is a df
# when not explicit about the index and column names while creating the dataframe, default integer indexing will be assinged to both. provide column labels using column paramter and row labels using the index paramter.
df_2 = pd.DataFrame(df,columns=['col 1', 'col 2', 'col 3'], index=['row 1','row 2'])
df_2

array is
[[3 6 5]
 [4 2 7]]

      col 1 col 2 col 3
row 1     3     6     5
row 2     4     2     7

In [4]:
# exporting external dataframe into pandas dataframe 
# attributes in pandas dataframe
import pandas as pd
data = pd.read_csv(r"C:\\Users\\TJO1COB\\Lending-Company-Saving.csv", index_col='LoanID') #assigning load ID as index column
cd = data.copy()
type(cd)
# cd.head(), tail(), describe(),copy(), 
print(cd.tail())
# attributes for working with dataframes

       StringID    Product CustomerGender      Location    Region  TotalPrice
LoanID
1039    id_1039  Product B         Female   Location 39  Region 6     16600.0
1040    id_1040  Product B           Male   Location 50  Region 1         NaN
1041    id_1041  Product B           Male   Location 23  Region 4     16600.0
1042    id_1042  Product C   NotSpecified   Location 52  Region 6     15600.0
1043    id_1043  Product B         Female  Location 142  Region 6     16600.0

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [20]:
cd.index # to get number of rows present

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [13]:
type(cd.columns)
cd.axes

[Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
             ...
             1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
            dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice'],
       dtype='object')]

In [19]:
cd.columns # to get all column names

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice'],
      dtype='object')

In [14]:
# another attribute of the pandas dataframe is the dtypes - it displays all column names to the left and corresp datatypes to the right
cd.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
dtype: object

In [22]:
cd.values

array([['id_1', 'Product B', 'Male', 'Location 2', 'Region 2', 16600.0],
       ['id_2', 'Product B', 'Male', 'Location 3', nan, 16600.0],
       ['id_3', 'Product C', 'Female', 'Location 5', 'Region 5', 15600.0],
       ...,
       ['id_1041', 'Product B', 'Male', 'Location 23', 'Region 4',
        16600.0],
       ['id_1042', 'Product C', 'NotSpecified', 'Location 52',
        'Region 6', 15600.0],
       ['id_1043', 'Product B', 'Female', 'Location 142', 'Region 6',
        16600.0]], dtype=object)

In [24]:
type(cd.values)
cd.value_counts #return a Series containing counts of unique rows in the DataFrame

<bound method DataFrame.value_counts of        StringID    Product CustomerGender      Location    Region  TotalPrice
LoanID
1          id_1  Product B           Male    Location 2  Region 2     16600.0
2          id_2  Product B           Male    Location 3       NaN     16600.0
3          id_3  Product C         Female    Location 5  Region 5     15600.0
4          id_4  Product B           Male    Location 6  Region 1     16600.0
5          id_5  Product D         Female    Location 7  Region 2     20250.0
...         ...        ...            ...           ...       ...         ...
1039    id_1039  Product B         Female   Location 39  Region 6     16600.0
1040    id_1040  Product B           Male   Location 50  Region 1         NaN
1041    id_1041  Product B           Male   Location 23  Region 4     16600.0
1042    id_1042  Product C   NotSpecified   Location 52  Region 6     15600.0
1043    id_1043  Product B         Female  Location 142  Region 6     16600.0

[1043 rows x 6 columns]>

In [28]:
# to convert a dataframe to numpy 2 dimensional array - use the to_numpy() : this produces identical output to .values
cd_numpy = cd.to_numpy()
cd_numpy

array([['id_1', 'Product B', 'Male', 'Location 2', 'Region 2', 16600.0],
       ['id_2', 'Product B', 'Male', 'Location 3', nan, 16600.0],
       ['id_3', 'Product C', 'Female', 'Location 5', 'Region 5', 15600.0],
       ...,
       ['id_1041', 'Product B', 'Male', 'Location 23', 'Region 4',
        16600.0],
       ['id_1042', 'Product C', 'NotSpecified', 'Location 52',
        'Region 6', 15600.0],
       ['id_1043', 'Product B', 'Female', 'Location 142', 'Region 6',
        16600.0]], dtype=object)

In [32]:
# last attribute is the shape - retrieves a tuple 
cd.shape

(1043, 6)

In [36]:
len(cd.columns)
len(cd.index)

1043

In [52]:
# indexing elements - selecting a sepcific entry or subset can be done by indexing
import pandas as pd
import numpy as np

ds_c = pd.read_csv(r"C:\\Users\\TJO1COB\\Lending-Company-Saving.csv", index_col='StringID')
ds = ds_c.copy()
ds.index
ds.values
ds.columns

Index(['LoanID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice'],
      dtype='object')

In [62]:
# accessing data of a specific column - retrieve the data stored in a particular column
ds.LoanID
# specifying the column name in the square brackets, is considered more professional way as it will still display values if there are whitespace characters
print(ds['LoanID'])
type(ds['LoanID']) #this reinforces the statement that a dataframe column inhertis the characteristics of pandas series.

StringID
id_1          1
id_2          2
id_3          3
id_4          4
id_5          5
           ...
id_1039    1039
id_1040    1040
id_1041    1041
id_1042    1042
id_1043    1043
Name: LoanID, Length: 1043, dtype: int64

pandas.core.series.Series

In [76]:
ds[['LoanID','Product']].head()
type(ds)
# more elegant way of obtaining the same result is to store the list in a a separate variable.
l = ['LoanID', 'Product']
ls = ds[l].head()
ls

          LoanID    Product
StringID
id_1           1  Product B
id_2           2  Product B
id_3           3  Product C
id_4           4  Product B
id_5           5  Product D

In [28]:
# indexing with iloc[] - i - integer and loc - location - purely integer based location
import pandas as pd
csv1 = pd.read_csv('vgsales.csv',index_col='Rank')
csv = csv1.copy()
csv.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [33]:
csv.iloc[1]

Name            Super Mario Bros.
Platform                      NES
Year                       1985.0
Genre                    Platform
Publisher                Nintendo
NA_Sales                    29.08
EU_Sales                     3.58
JP_Sales                     6.81
Other_Sales                  0.77
Global_Sales                40.24
Name: 2, dtype: object

In [35]:
csv.iloc[2,:]

Name            Mario Kart Wii
Platform                   Wii
Year                    2008.0
Genre                   Racing
Publisher             Nintendo
NA_Sales                 15.85
EU_Sales                 12.88
JP_Sales                  3.79
Other_Sales               3.31
Global_Sales             35.82
Name: 3, dtype: object

In [36]:
type(csv.iloc[:,:])

pandas.core.frame.DataFrame

In [43]:
# entire 2nd and 4th row
data_selection = csv.iloc[[2,4],:]
data_selection

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [45]:
# or this also works for the above usage
csv.iloc[[2,4]]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [50]:
csv.shape

(16598, 10)

In [51]:
csv.iloc[:,[2,4]]

         Year   Publisher
Rank
1      2006.0    Nintendo
2      1985.0    Nintendo
3      2008.0    Nintendo
4      2009.0    Nintendo
5      1996.0    Nintendo
...       ...         ...
16596  2002.0       Kemco
16597  2003.0  Infogrames
16598  2008.0  Activision
16599  2010.0    7G//AMES
16600  2003.0     Wanadoo

[16598 rows x 2 columns]

In [56]:
# loc - referring to explicit index labels
csv = pd.read_csv('vgsales.csv',index_col='Platform')
csv

,Rank,Name,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,,,,
Wii,1,Wii Sports,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
NES,2,Super Mario Bros.,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Wii,3,Mario Kart Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii,4,Wii Sports Resort,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
GB,5,Pokemon Red/Pokemon Blue,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
GBA,16596,Woody Woodpecker in Crazy Castle 5,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
GC,16597,Men in Black II: Alien Escape,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
PS2,16598,SCORE International Baja 1000: The Official Game,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
DS,16599,Know How 2,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
GBA,16600,Spirits & Spells,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [69]:
csv.loc['NES']

,Rank,Name,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,,,,
NES,2,Super Mario Bros.,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
NES,10,Duck Hunt,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
NES,23,Super Mario Bros. 3,1988.0,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28
NES,97,Super Mario Bros. 2,1988.0,Platform,Nintendo,5.39,1.18,0.70,0.19,7.46
NES,128,The Legend of Zelda,1986.0,Action,Nintendo,3.74,0.93,1.69,0.14,6.51
...,...,...,...,...,...,...,...,...,...,...
NES,5864,Famista '91,1990.0,Sports,Namco Bandai Games,0.00,0.00,0.30,0.00,0.30
NES,6163,Famista '92,1991.0,Sports,Namco Bandai Games,0.00,0.00,0.28,0.00,0.28
NES,10311,Final Fantasy I & II,1994.0,Role-Playing,Square,0.00,0.00,0.11,0.00,0.11
NES,11987,Teenage Mutant Ninja Turtles: Tournament Fighters,1992.0,Fighting,Konami Digital Entertainment,0.04,0.01,0.02,0.00,0.07
NES,12638,Adventures of Lolo,1989.0,Puzzle,HAL Laboratory,0.06,0.00,0.00,0.00,0.06

In [72]:
csv.loc['PS2','Name']

Platform
PS2                       Grand Theft Auto: San Andreas
PS2                         Grand Theft Auto: Vice City
PS2                              Gran Turismo 3: A-Spec
PS2                                Grand Theft Auto III
PS2                                      Gran Turismo 4
                             ...
PS2        Sugar + Spice! Anoko no Suteki na Nanimokamo
PS2                                      Kanokon: Esuii
PS2                    Scarlett: Nichijou no Kyoukaisen
PS2                                           Real Rode
PS2    SCORE International Baja 1000: The Official Game
Name: Name, Length: 2161, dtype: object

In [1]:
import numpy as np
arr_a = np.array([[2,3],[5,6]])
arr_a

array([[2, 3],
       [5, 6]])

In [26]:
arr_a[0,1] #same as :
arr_a[0][1] 
arr_a[1]
# slicing 
arr_a[:,0]
# negative indices - meaning traversing the array backwards
arr_b = np.array([[4,7],[0,2]])
arr_b[0,-1]
# assigning values in numpy
assert arr_b[0,-1] == 7
arr_b[0,-1] = 9
arr_b[0,:] = 100
arr_b
# we can also change entire vectors within an array

# providing a list then accessing it :
lst = [5,8]
arr_b[0,:] = lst
print(f"Array is \n {arr_b}\n type is {type(arr_b)}")
# change the value of entire array to a single value :
arr_b[:] = 90
arr_b

Array is
 [[5 8]
 [0 2]]
 type is <class 'numpy.ndarray'>

array([[90, 90],
       [90, 90]])

In [73]:
# elementwise properties : same operation differs in list and arrays 
# creating 1d array :
import numpy as np
ar_a = np.array([6,2,8])
# print(ar_a)

# creating 2d array :
ar_b = np.array([[5,7,0],[3,9,-5]])
ar_a=ar_a + 1
print(f"array a :{ar_a}")
ar_b = ar_b + [2]
print(f"array b: \n{ar_b}")

# but in list, '+' appends:
lst = [9,0,7]
lst = lst + [2]
print(f"list : {lst}")

array a :[7 3 9]
array b:
[[ 7  9  2]
 [ 5 11 -3]]
list : [9, 0, 7, 2]

array([7, 3, 9])

In [80]:
# print(ar_a)
ar_b
ar_a =ar_a + ar_b[0]
print("sum",ar_a)

sum [42 48 19]

In [ ]:
# we can also conduct operations between arrays of different dimensions - the shapes of the arrays need to be compatible ie length of 1d array must match length of 2d array

In [85]:
ar_a / ar_b

array([[ 6.        ,  5.33333333,  9.5       ],
       [ 8.4       ,  4.36363636, -6.33333333]])

In [87]:
import pandas as pd  
import numpy as np
time_0 = [0, 1, 2, 3, 5]
signal_3 = pd.Series([np.nan, 2.3, 3.5, 2.0, 1])

expected_result_df = (
            pd.DataFrame(
                data={
                    "time_vector": time_0,
                    "signal_3": signal_3,
                }
            )
            .set_index("time_vector")
            .sort_index(axis=0)
        )
expected_result_df

             signal_3
time_vector
0                 NaN
1                 2.3
2                 3.5
3                 2.0
5                 1.0

In [8]:
# data supported by numpy:
import numpy as np
import pandas as pd
aa= np.array([[2,3,4],[4,5,6]],dtype="float32") # 32bits of memory for each element of the array or can also use dtype= np.float16 to remove the quotes
aa

array([[2., 3., 4.],
       [4., 5., 6.]], dtype=float32)

In [4]:
import numpy as np
import pandas as pd
aa= np.array([[20,3,4],[4,5,6]],dtype=np.str_) # 32bits of memory for each element of the array or can also use dtype= np.float16 to remove the quotes
aa

array([['20', '3', '4'],
       ['4', '5', '6']], dtype='<U2')

BROADCASTING : stretching one value over other to produce same size array. to perform operations with elements of diff size. , but arrays have to have the same shape.

In [107]:
a1 = np.array([4,5,7])
a2 = np.array([[1],[3]])
mc = np.array([[2,6,9],[9,6,4]])
sum = np.add(a1,mc)
sum

array([[ 6, 11, 16],
       [13, 11, 11]])

TYPECASTING - taking every element of an arryay and changing it to specific datatype.

In [105]:
sum = np.add(a1,mc,dtype = np.float_)
sum

array([[ 6., 11., 16.],
       [13., 11., 11.]])

In [21]:
# running a function over an axis. Axis 0 finds mean along the column, axis 1 finds mean along row.
print(np.mean(mc, axis=0))
mc

[5.5 6.  6.5]

array([[2, 6, 9],
       [9, 6, 4]])

array([[2, 6, 9],
       [9, 6, 4]])

In [22]:
# working with arrays.

In [24]:
    time_step = 0.1
    end_time = 25
    length = round(end_time/time_step)
    length

250

In [25]:
    t = np.zeros(length)
    stp = np.zeros(length)
    v = np.zeros(length)
    command = np.zeros(length)

In [27]:
stp

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
!pip install --upgrade jupyterhub

# pip install --upgrade --user nbconvert

In [145]:
# another datatype is ndarray in python - can store multiple values in sequence, elementwise operation. originates from numpy package. helps in computation. n stands for natural numbers, d can be any number like 1,2,3
# 1d of size 3
import numpy as np
a1 = np.array([1,2,3])
type(a1)
a1.shape

a2 = np.array([[4,5,6],[7,8,9]])
a2.shape
type(a2)
a2.shape[1] # FOR 0 IT'S ROWS, 1 GIVES NUMBER OF COLS.

a3 = np.array(2)
type(a3)
print(a3)
a3.shape # retrieves void means arr3 has no shape or size - that's because we have to specify within [].

2

()

In [178]:
# arrays vs lists : array operations work element wise while list operations dont.

l1 = [[3,5,6],[7,8,3]]
print(len(l1))
print(type(l1))
aa1 = np.array(l1,dtype = object)
print(type(aa1))

print(f"l1 : {l1}")
print("array : ",aa1)

2
<class 'list'>
<class 'numpy.ndarray'>
l1 : [[3, 5, 6], [7, 8, 3]]
array :  [[3 5 6]
 [7 8 3]]

In [180]:
aa1.shape
len(aa1)

2

In [184]:
len(l1[1]) #can access the list and array elements this way

3

In [186]:
sum_list = l1[0] + l1[1]
sum_list

[3, 5, 6, 7, 8, 3]

In [187]:
array_list = aa1[0] + aa1[1] #is summed with each element in each column
array_list

array([10, 13, 9], dtype=object)

In [192]:
# follwing operatoin can be done in the arrays and not in lists
import math
sqrti = math.sqrt(aa1[1,0])
sqrti

2.6457513110645907

In [210]:
# string vs object vs numbers
# using the genrate from text function
import numpy as np
lend = np.genfromtxt("lending-co-LT.csv",delimiter = ',',dtype = np.int_)#this func is more stable than np.loadtxt() ; to import the datatypes as integers, use dtype
print(lend) #using print func will eliminate word array from the output
# arrays use only single data type

[[   -1    -1    -1 ...    -1    -1    -1]
 [    1    -1    -1 ...    -1    -1 16600]
 [    2    -1    -1 ...    -1    -1 16600]
 ...
 [ 1041    -1    -1 ...    -1    -1 16600]
 [ 1042    -1    -1 ...    -1    -1 15600]
 [ 1043    -1    -1 ...    -1    -1 16600]]

In [211]:
type(lend)

numpy.ndarray

In [9]:
# slicing in numpy - slicers are smaller arrays
import numpy as np
mat = np.array([[1,2,3],[5,6,7]])
mat
# basic slicing 
mat[1:2] #both indices refer to rows, unless it's separated by comma => in which case it refers to row and column
mat[2:]
mat[:,-1]
mat[1:,:1]
# step-wise slicing eg - mat[1(start):10(end):3(step),2:11:3] , by default step is set to 1
matb = np.array([[7,3,9,5,6],[2,4,1,9,8],[9,7,8,1,2]])
# print(f"matb:\n {matb}")
matb[0:2,-3]
matb[-1::-2,::3]
# conditional slicing  
matc = np.array([[7,3,9,5,6],[2,4,1,9,8],[9,7,8,1,2]])
# print(f"matc:\n{matc}")
matc[0:2:,1:2:] #slicing the first column
matc[:,0] > 2 #array filled with true and false values (each val in first col of matc is checked against the condition)
# to print all values in matc greater than 2 :
matc[matc[:,:]<20]
# additional multiple conditions using the &,| symbol:
matc[(matc[:,:] > 2) & (matc[:,:] ==4)]

# dimensions and sqeeze function : the sqeeze method gets rid of unwanted dimensions
matd = np.array([[7,8,9,0,1],[1,4,7,0,3],[4,3,7,1,2]])
print(f"matd : \n{matd}")
type(matd[0,0]) #python recognises this as a single numeric value
matd[0,0:1] 
# to sqeeze :
matd[0,0:1].squeeze().shape #sqeezed array has no shape making it a 0-D array

matd :
[[7 8 9 0 1]
 [1 4 7 0 3]
 [4 3 7 1 2]]

()

In [36]:
array_2D = np.array([[20,30,40,50,60], [43,54,65,76,87], [11,22,33,44,55]])
array_2D
array_2D[:,0]
array_3D = np.array([[[1,2,3,4,5], [11,21,31,41,51]], [[11,12,13,14,15], [51,52,53,54,5]]])
print(array_3D)
array_3D[0:1:1]
array_3D[ :,  0::2]
array_3D[0]
# The syntax for the indices of the 3-D array is the following: [subarray, row, column])--------------
array_3D[:, :, 0::2 ]

# Use conditional slicing to check if the individual elements of each array satisfy a given condition (e.g. greater than 10)
array_3D> 10
#  to print those values
array_3D[array_3D > 10]

# Odd numbers leave a remainder of 1, when dividing by 2. Hence, we can use "%" to express this condition.)
array_3D[(array_3D > 10) | (array_3D %2 != 0)] 
np.squeeze(array_3D[ :1, 0:1   ]).shape

[[[ 1  2  3  4  5]
  [11 21 31 41 51]]

 [[11 12 13 14 15]
  [51 52 53 54  5]]]

(5,)

generating data with numpy : 
arrays of 0s and 1s
some functions that randomly generate arrays of data are : np.empty() ; np.zeros() ; np.ones() ; np.full()
disadvantage of using these functions is that they dont produce consistent numbers or outputs.

In [52]:
import numpy as np
gen_1 = np.empty(shape=(2,3))
gen_1
gen_2 = np.zeros(shape=(3,4)) #shows float
gen_2
gen_2 = np.zeros(shape=(3,4),dtype=np.int8) #in int
gen_2
gen_3 = np.ones(shape = (2,3))
gen_3
gen_4 = np.full(shape = (2,3), fill_value="twenty four")
gen_4
# like functions in numpy:
gen_1 = np.empty_like(gen_1)
gen_1

#arange() function enerates an array of consecutive values. - non-random sequence of numbers
rng = np.arange(23,56,4)
rng
lst = list(range(10))
lst

# random generators and seeds
from numpy.random import Generator as gen
from numpy.random import PCG64 as pcg
rand_seed = gen(pcg())
rand_seed.normal(size = (5,5))

rand_seed = gen(pcg(seed = 300))
rand_seed.normal(size = (5,5))

array([[-0.2840585 , -0.940852  , -0.05083524, -0.0247315 , -0.07595215],
       [-0.71238607, -0.98467683, -0.77736035,  0.23645487, -0.29017916],
       [-0.70690253, -0.8432795 ,  0.72151318,  0.0889527 ,  0.68379081],
       [ 0.26420243, -1.74358139,  0.08291143,  0.43035477,  0.31427208],
       [ 0.39591195, -0.04692129, -0.98192506, -1.93099719,  0.80199798]])

In [37]:
# probability distribution in numpy like poison and binomial distro - ( in a fixed interval of time we expect an event to occur once - can be set with lam)

array([[1., 1., 1.],
       [1., 1., 1.]])

APPS OF RANDOM GENERATORS :
When real data isn't available , we sometimes need pseudo-random data to test how well a program performs.

In [ ]:
from numpy.random import Generator as gen
from numpy.random import PCG64 as pcg
rg = gen(pcg(seed = 365))

ac1 = rg.normal(loc = 2, scale = 3, size = (1000))
ac2 = rg.normal(loc = 7, scale = 2, size = (1000))
ac3 = rg.logistic(loc = 11, scale = 3, size = (1000))
ac4 = rg.exponential(scale = 4, size = (1000))
ac5 = rg.geometric(p = 0.7, size = (1000))

# create np array function to hold all data
test_data = np.array([ac1,ac2,ac3,ac4,ac5])
test_data.transpose().shape
# test_data.shape

# exporting this array into a cvs file - (syntax using the savetxt function is - name, dataset, format)
np.savetxt("Data_from_rand_gen.csv", test_data, fmt= "%s", delimiter= ',')

# importing above - using genfromtxt function
np.genfromtxt("Data_from_rand_gen.csv", delimiter=',')

In [109]:
# statistical functions in numpy
# mean()
m = np.array([[20,30,40,50,60], [43,54,65,76,87], [11,22,33,44,55]])
print(f"m: \n{m}")
np.mean(m[0])
m.mean()
#min and max()
np.max(m)
np.min(m[1])
# amin - working with arrays, serve same purpose as min()
np.amin(m[0])
# minimum function takes 2 input arrays and performs element wise 
np.minimum(m[0],m[2])
# percentiles and quantiles
# peak to peak + along an axis- returns rhe difference b/w highest and lowest value within an array
np.ptp(m,axis=0)
#percentile - returns the percentile of a specific set
np.sort(m, axis=None)
np.percentile(m, 1)
# median is the middle value of the sorted dataset 
# /quantile
np.quantile(m,0.70,interpolation="nearest")
# avergaes and variances:
np.sort(m,axis=None)
np.median(m)
np.average(m)
np.mean(m)
np.var(m) #variance
# std - standard deviation
np.std(m)
# covariance and correlation
np.cov(m)
n

m:
[[20 30 40 50 60]
 [43 54 65 76 87]
 [11 22 33 44 55]]

array([[250. , 275. , 275. ],
       [275. , 302.5, 302.5],
       [275. , 302.5, 302.5]])

In [6]:
# histograms in numpy 
# NAN equivalent functions - functions that work on arrays with missing values in them; they are very useful when working with incomplete data
import numpy as np
matrix_A = np.array([[1,2,3,4,5],[5,6,7,8,9],[9,10,11,12,13]])
matrix_A
np.nanmean(matrix_A)
matrix_B = np.array([[1,2,3,4,5],[5,6,np.nan,8,9],[9,10,11,12,13]])
np.nanmean(matrix_B)
# np.mean(matrix_B) - this does not return an identical result as before nanmean when facing incomplete data.

7.0

#################### Data Manipulation ###################

In [27]:
import numpy as np
# one of the ways to check for missing values in a dateset is to use the loadtxt() function. Unlike genfromtxt() this function not only imports the data but outputs the missing values when we try to call a text file
data_numeric = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv", delimiter = ',')
data_numeric
# to check for missing values
np.isnan(data_numeric).sum() # will return 0 if there is no missing value or a value of how many missing data is present

data_numeric_nan = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric-NAN.csv", delimiter = ';')
data_numeric_nan # weget a value error because the method reads the missing data as empty spaces hence loadtxt crashes.
# hence switch to numpy func genfromtext() to import text files
data_numeric_nan1 = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric-NAN.csv", delimiter = ';')
np.isnan(data_numeric_nan1).sum()

# filling values: filled every empty value with 0. - not a great approach, good apprach is to fill with max or mean values
temp_fill = np.nanmax(data_numeric_nan1).round(2) + 1
temp_fill
data_numeric_nan1 = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric-NAN.csv", delimiter = ';', filling_values = temp_fill)
np.isnan(data_numeric_nan1).sum()

0

In [41]:
# substituting values
data_numeric_nan = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric-NAN.csv", delimiter = ';')
data_numeric_nan
temp_mean = np.nanmean(data_numeric_nan, axis=0).round(2)
temp_mean[0]
# choosing a filler value
temp_fill_max = np.nanmax(data_numeric_nan1).round(2) + 1
temp_fill_max #substituting every empty value with this one 
lend_data = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric-NAN.csv", delimiter = ';', filling_values=temp_fill_max)
lend_data
# finding mean of first column in nan dataset:
np.mean(lend_data[:,0]).round(2)
temp_mean[0]

2250.25

In [54]:
# reshaping nd arrays
import numpy as np
lend_num = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv", delimiter = ',')
lend_num.shape
np.reshape(lend_num, (6,1043))
np.transpose(lend_num)
# np.reshape(lend_num, (3,500)) #outputs error because it cant contain all 6258 elements inside the array meaning the product should equal 6258 => hence it can be reshaped to (5,
np.reshape(lend_num, (2,3,1043))

array([[[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
        [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
        [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.]],

       [[ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
        [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
        [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]]])

In [82]:
# remove values from an array
lend_num = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv", delimiter = ',')
print(f"org :\n {lend_num}")
# np.delete(lend_num,2)
# get rid of entire rows and columns
np.delete(lend_num,(2,1,2),axis=0) # removes first row of matrix syntax - array, individual index row/col number, axis argument 0 or 1 indicates its row or col respectively

org :
 [[ 2000.    40.   365.  3121.  4241. 13621.]
 [ 2000.    40.   365.  3061.  4171. 15041.]
 [ 1000.    40.   365.  2160.  3280. 15340.]
 ...
 [ 2000.    40.   365.  4201.  5001. 16600.]
 [ 1000.    40.   365.  2080.  3320. 15600.]
 [ 2000.    40.   365.  4601.  4601. 16600.]]

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       [ 2000.,    50.,   365.,  3470.,  4820., 13720.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [97]:
# sorting N-D arrays - returns sorted array in ascending order
lend_num = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv", delimiter = ',')
print(f"org : \n {lend_num}")
np.set_printoptions(suppress=True)
np.sort(lend_num,axis=None) #(in increasing order)
np.sort(-lend_num) #turns positive values to negative)
-np.sort(-lend_num) # values are placed from largest to smallest
lend_num[:,3].sort() #rearranage value of just one col 
lend_num
lend_num.sort(axis=0) #to overwrite entire dataset, remove index and add axis value.
lend_num

org :
 [[ 2000.    40.   365.  3121.  4241. 13621.]
 [ 2000.    40.   365.  3061.  4171. 15041.]
 [ 1000.    40.   365.  2160.  3280. 15340.]
 ...
 [ 2000.    40.   365.  4201.  5001. 16600.]
 [ 1000.    40.   365.  2080.  3320. 15600.]
 [ 2000.    40.   365.  4601.  4601. 16600.]]

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [ ]:
# argument sort in numpy
import numpy as np
data1 = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv", delimiter = ',')
# print(f"org : \n {data1}")
data1.shape
data1.size #size is the product of elements of shape
np.argsort(data1) # result is an array that consists of numbers from 0 to 5(in this case), this is because instead of sorting the value themselves, the function returns the indices of the array.
np.sort(data1)
# can call the function over a given axis :
np.argsort(data1, axis=0) #0 corresponds to col
data1[482,5]
# arrange the first cols and get their indices
np.argsort(data1[0,:])
data1 = data1[np.argsort(data1[:,0])]
data1
# argument where in numpy
np.argwhere(data1) # output syntax = [row index, col index]; argument where function goes over the entire NDarray and checks whether individual elements satisfy a given condition; default condt is to check for values different from 0
#  to check where zeroes appear in the array, set the condition equals false
np.argwhere(data1== False)
# for other conditions :
np.argwhere(data1 % 2 ==0)
#  to check based on above output:
data1[219,   4]

# to load the data from nan csv
data1_nan = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric-NAN.csv", delimiter = ';')
# print(f"nan_array : \n {data1_nan}")
np.argsort(data1_nan)
np.argwhere(data1_nan)
np.argwhere(np.isnan(data1_nan)) #this returns the indices of all values that contains nan values
# data1_nan[11,3] # to check based on above output.
for array_index in np.argwhere(np.isnan(data1_nan)):
    # print(array_index)
    data1_nan[array_index[0], array_index[1]] = 0 #substituting the values of nan by 0 by accessing the array indexes of those returned
data1_nan [175]
np.isnan(data1_nan).sum() #if sum is returned as 0, there are no missing values present in the array.

# applying shuffling to NDarrays: we can't replicate the same shuffle twice
# to load only the first 8 rows of dataset :
lend_8 = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv",delimiter=',')[:8]
# print(f"org : \n {lend_8}")
np.random.shuffle(lend_8)
lend_8

lend = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv",delimiter=',')
lend
from numpy.random import shuffle
shuffle(lend)
lend
from numpy.random import Generator as gen
from numpy.random import PCG64 as pcg
array_RG = gen(pcg(seed=365))
array_RG.shuffle(lend)
lend

# switch datatypes using casting : typecasting - taking an object with values of a certain dtype and creating an identical object that contains value of diff dtype
lend = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv",delimiter=',')
lend.astype(dtype = np.int16)
# creating an array of strings by casting the array containing integer
lend.astype(dtype = np.str)
lend

lend=lend.astype(dtype = str)
lend

In [116]:
# concatenating in numpy arrays
lend = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv",delimiter=',')
np.concatenate((lend[0,:],lend[1,:])) #resultant is a 1D array

# finding unique values in NDarrays - the unique functions takes an array as input and creates another array that contains all the different values from the first one.
lend = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\Lending-company-Numeric.csv",delimiter=',')
np.unique(lend[0:5])

array([   40.,    50.,   365.,  1000.,  2000.,  2160.,  3041.,  3061.,
        3121.,  3280.,  3470.,  4171.,  4241.,  4820., 13621., 13720.,
       15041., 15321., 15340.])

########### RAW DATA SET CLEANING AND PROCESSING ##############
# gathering, cleaning and preprocessing then construct predictive models
<!-- note down all valuable changes to the original dataset -->

In [1]:
# import the loan data and examine the contents - this file uses ; as delimiter hence has it to be kept in mind while importing

# import packages
import numpy as np

In [3]:
''' for easier viewwing let's also call the print set option function - improve the way we see the output, the below given arguments will stop numpy from using scientific notations to express numbers
extend no of char we fit in single line output to 100  ; only display the first 2 digits after decimal point using precision argument. specifying these args wont alter the numerical values that numpy uses for math operations.
it only affects how we see values on screen.'''
np.set_printoptions(suppress=True, linewidth=100, precision=2)

In [5]:
# using loadtxt as it returns error message since there is missing data "ValueError: could not convert string to float: 'id'" is thrown, hence switch to genfromtxt
# raw_data = np.loadtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", delimiter=';')
raw_data = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", delimiter=';')
raw_data

array([[        nan,         nan,         nan, ...,         nan,         nan,         nan],
       [48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [6]:
# use skip_header to omit nan values ; setting autostrip to True as it removes excess whitespace that distorts the data
raw_data = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", delimiter=';', skip_header=1, autostrip=True)
raw_data

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [9]:
# examining the missing elements - check for incomplete data and using the method chaining sum at the end - returns false (0) if there are no missing values, hence we check if sum=0, else number of missing elements is retrieved
np.isnan(raw_data).sum()

88005

In [10]:
# tackling above
# this stores the rounded result of nanmax + 1 ; serves as filler for all missing entries in dataset
temp_fill = np.nanmax(raw_data) + 1
# output of nanmean ran over axis; holds the means for every cols
temp_mean = np.nanmean(raw_data, axis=0)

C:\Users\TJO1COB\AppData\Local\Temp\ipykernel_15020\3806063239.py:5: RuntimeWarning: Mean of empty slice
  temp_mean = np.nanmean(raw_data, axis=0)

In [15]:
# to determine how many cols exactly contain of text values
temp_mean 
# contains 8 cols as nan

array([54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
            440.92,         nan,         nan,         nan,         nan,         nan,     3143.85])

In [17]:
# create array using nanmin, max
temp_stats = np.array([np.nanmin(raw_data, axis = 0), temp_mean, np.nanmax(raw_data, axis = 0)])
temp_stats

C:\Users\TJO1COB\AppData\Local\Temp\ipykernel_15020\2074903938.py:2: RuntimeWarning: All-NaN slice encountered
  temp_stats = np.array([np.nanmin(raw_data, axis = 0), temp_mean, np.nanmax(raw_data, axis = 0)])

array([[  373332.  ,         nan,     1000.  ,         nan,     1000.  ,         nan,        6.  ,
              31.42,         nan,         nan,         nan,         nan,         nan,        0.  ],
       [54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,
             440.92,         nan,         nan,         nan,         nan,         nan,     3143.85],
       [68616519.  ,         nan,    35000.  ,         nan,    35000.  ,         nan,       28.99,
            1372.97,         nan,         nan,         nan,         nan,         nan,    41913.62]])

In [33]:
'''splitting the data into 2 smaller arrays - one for handling numeric data and one for string vals. info on which col is string and numeric can be inferred from the previous output from mean'''
# use argwhere function, to find the indices of cols that are string, default conditions fro argwhere tests whether the values ! = 0
col_strings=np.argwhere(np.isnan(temp_mean)).squeeze()
col_strings

array([ 1,  3,  5,  8,  9, 10, 11, 12], dtype=int64)

In [36]:
# to check which cols contain numeric values
col_num=np.argwhere(np.isnan(temp_mean)== False).squeeze()
col_num

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

In [39]:
# reimporting dataset with string data
loan_data_strings = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", 
                         delimiter=';',
                         skip_header=1, 
                         autostrip=True, usecols=col_strings, dtype = np.str
            )
loan_data_strings

C:\Users\TJO1COB\AppData\Local\Temp\ipykernel_15020\726611971.py:5: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  autostrip=True, usecols=col_strings, dtype = np.str

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [44]:
# reimporting dataset with numeric data
loan_data_numeric = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", 
                         delimiter=';',
                         skip_header=1, 
                         autostrip=True, usecols=col_num, filling_values=temp_fill
            )
loan_data_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

In [45]:
raw_data_np = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", 
                         delimiter=';',
                         skip_header=1, 
                         autostrip=True
            )
raw_data_np

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

In [47]:
# names of cols
header_full = np.genfromtxt("C:\\Users\\TJO1COB\\Downloads\\loan-data.csv", 
                         delimiter=';',
                         autostrip=True,
                         skip_footer = raw_data_np.shape[0], 
                         dtype = np.str_
            )
header_full

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state',
       'total_pymnt'], dtype='<U19')

In [51]:
# splitting the above headers into 2 variables
header_string, header_numeric = header_full[col_strings],header_full[col_num]
header_numeric,header_string

(array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19'),
 array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
        'addr_state'], dtype='<U19'))

########### PRE-PROCESSING THE STRING DATASET ##############

In [56]:
# creating checkpoints - avoid losing progress, it's more like a failsafe
def checkpoint(file_name, checkpoint_header, checkpoint_data):
    np.savez(file_name, header = checkpoint_header, data = checkpoint_data)
    checkpoint_variable = np.load(file_name + ".npz")
    return(checkpoint_variable)
checkpoint_test = checkpoint("checkpoint-test", header_string, loan_data_strings)
checkpoint_test['data']
checkpoint_test['header']

array([['May-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '',
        'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']],
      dtype='<U69')

In [62]:
header_string[0] = "issue_date"
header_string

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [63]:
np.unique(loan_data_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15',
       'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [65]:
np.chararray.strip(loan_data_strings[:,0],"-15")

chararray(['May', '', 'Sep', ..., 'Jun', 'Apr', 'Dec'], dtype='<U69')

In [ ]:
for i in range(13):
    loan_data_strings[:,0] = np.where(loan_data_strings[:,0] == months[i],
                                      i,loan_data_strings[:,0])

In [68]:
np.unique(loan_data_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15',
       'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [69]:
header_string

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url',
       'addr_state'], dtype='<U19')

In [72]:
# loan status
np.unique(loan_data_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued',
       'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [73]:
np.unique(loan_data_strings[:,1]).size

9

In [77]:
status_bad = np.array(['', 'Charged Off', 'Default', 'Late (31-120 days)'])
loan_data_strings[:,1] = np.where(np.isin(loan_data_strings[:,1],status_bad),0,1)
np.unique(loan_data_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [84]:
loan_data_strings[:,2] = np.chararray.strip(loan_data_strings[:,2],"months")
loan_data_strings[:,2]
header_string[2] = "term_months"
loan_data_strings[:,2] = np.where(loan_data_strings[:,2] == '','60',loan_data_strings[:,2])
loan_data_strings[:,2]
np.unique(loan_data_strings[:,2])

array(['36 ', '60', '60 '], dtype='<U69')

In [87]:
loan_data_strings[:,3]

array(['C', 'A', 'B', ..., 'A', 'D', 'A'], dtype='<U69')

In [88]:
np.unique(loan_data_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [90]:
np.unique(loan_data_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69')

In [91]:
# verification status
header_string

array(['issue_date', 'loan_status', 'term_months', 'grade', 'sub_grade', 'verification_status',
       'url', 'addr_state'], dtype='<U19')

In [93]:
np.unique(loan_data_strings[:,5])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [98]:
np.unique(loan_data_strings[:,7], return_counts=True)

(array(['', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN',
        'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
        'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA',
        'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69'),
 array([ 500,   26,  119,   74,  220, 1336,  201,  143,   27,   27,  690,  321,   44,  389,  152,
          84,   84,  116,  210,  222,   10,  267,  156,  160,   61,   28,  261,   16,   25,   58,
         341,   57,  130,  777,  312,   83,  108,  320,   40,  107,   24,  143,  758,   74,  242,
          17,  216,  148,   49,   27], dtype=int64))

############# ABSENTEEISM DATA CLEANING ##############

In [3]:
# importing
import numpy as np
import pandas as pd

In [137]:
# loading data using numpy
abs_np = np.genfromtxt("C:\\Users\\TJO1COB\\DataAnalytics\\Absenteeism-data.csv", delimiter= ',' , autostrip= True)
# np.set_printoptions(suppress=True, linewidth=100, precision=2)
abs_np
abs_np.shape #in numpy the shape is calculated by consdering the header as well, while that's not the case in pandas)

(701, 12)

In [ ]:
# loading data using pandas - eyeball your data first
abs_pd = pd.read_csv("C:\\Users\\TJO1COB\\DataAnalytics\\Absenteeism-data.csv" , delimiter= ',' )
abs_pd

In [139]:
# make a copy of inital dataset
df = abs_pd.copy()
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [ ]:
df.size
df.shape
df.describe()

In [ ]:
#  to display the complete dataset in jupyter use max method - to observe the entire dataset :
pd.options.display.max_columns = None
pd.options.display.max_rows = None
display(df)

In [131]:
# info () prints a concise summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

################# variable can also be referred as feature, input, attribute ###############

In [141]:
# TASK - predict absenteeism form work - using statistical approach to solve this; for this absenteeism value is the dependent variable
# drop ID variable
df = df.drop(['ID'], axis=1)
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [143]:
# analysis of reason for absence
df['Reason for Absence'].max()
df['Reason for Absence'].min()

28

In [144]:
# extracting a list containing distinct values only
pd.unique(df['Reason for Absence']) #or :
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6, 27, 17,  8, 12,  5,  9,
       15,  4,  3,  2, 16], dtype=int64)

In [145]:
# obtain how many different reasons for absent in work 
len(df['Reason for Absence'].unique())

28

In [146]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [149]:
# splitting the reasons for absence into multiple dummy variables with 1(for reason present) and 0(for reason absent)
reason_cols = pd.get_dummies(df['Reason for Absence'])
reason_cols.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [ ]:
# creating a check col 
reason_cols['check'] = reason_cols.sum(axis = 1)
reason_cols

In [152]:
reason_cols['check'].unique()

array([1], dtype=int64)

In [154]:
# dropping reason 0 from the dataset
reason_cols = pd.get_dummies(df['Reason for Absence'], drop_first=True)
reason_cols.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [155]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [156]:
reason_cols.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24,
       25, 26, 27, 28], dtype=int64)

In [ ]:
# df = pd.drop(df['Reason for Absence'])
df = df.drop(['Reason for Absence'], axis = 1)
df.head()

In [159]:
# grouping the reason cols
reason_type1 = reason_cols.loc[:,'1':'14'].max(axis = 1)
reason_type2 = reason_cols.loc[:,15:17].max(axis = 1)
reason_type3 = reason_cols.loc[:,18:21].max(axis=1)
reason_type4 = reason_cols.loc[:,22:].max(axis = 1)

In [163]:
reason_type4.head()

0    1
1    0
2    1
3    0
4    1
dtype: uint8

In [ ]:
# concatenate col values
df = pd.concat([df, reason_type1, reason_type2, reason_type3, reason_type4], axis=1)
df.head()

In [166]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3,
       0, 1, 2, 3], dtype=object)

In [ ]:
col_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets', 'Absenteeism Time in Hours', 'reason_type1', 'reason_type2', 'reason_type3', 'reason_type4']
df.columns = col_names

In [ ]:
df.head()

In [1]:
# reorder cols 
reorder_cols = ['reason_type1', 'reason_type2', 'reason_type3', 'reason_type4','Date', 'Transportation Expense', 'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets', 'Absenteeism Time in Hours']
df = df[reorder_cols]
df.head()

In [7]:
# create checkpoints - To create a checkpoint of your work, you can store the current output (df_concatenated, for example) in a variable called df_checkpoint. 
df_mod = df.copy()
df_mod
# df_checkpoint = df_concatenated.copy()
# df_checkpoint

In [ ]:
# inspecting date column of the dataframe
df['Date']
type(df['Date'][0])
# introducing time_stamp variable which is common data type in programming languages, used for values representing date and time. to convert all values from data col to timestamp val, use pandas to datetime method
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df]['Date']

In [ ]:
# extracting month
df['Date'][0].month

In [ ]:
# create a column designated for day of week. weekday module starts from 0 to 6
df_mod['Date'][699].weekday()
def date_to_weekday(date_val):
    return date_val.weekday()
df_mod['day of week'] = df_mod['Date'].apply(date_to_weekday)
df_mod.head()

In [ ]:
# transfer the education col to a dummy variable using the map function
df['Education'].unique()
# using the vals_counts () that retrievs sum of unique values present
df['Education'].value_counts()
df['Education'] = df['Education'].map({1:0, 2:1, 3:1, 4:1})
df['Education'].unique()
df['Education'].value_counts()

2 TYPES OF DATA :
 1. CATEGORICAL - describes groups eg, AUDI, BMW); YES AND NO QUESTIONS
 2. NUMERICAL DATA SUGGESTS NUMBERS